<Context>
<Resource name="jdbc/pgDatasource"
          auth="Container"
          type="javax.sql.DataSource"
          driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://localhost:5432/tcc"
          username="postgres"
          password="root"
          maxActive="20"
          maxIdle="10"
          maxWait="-1"/>
    <Realm className="org.apache.catalina.realm.DataSourceRealm"
           dataSourceName="jdbc/pgDatasource"
           localDataSource="true"
           roleNameCol="role_name"
           userCredCol="user_pass"
           userNameCol="user_name"
           userRoleTable="jaas.user_roles"
           userTable="jaas.users"/>

</Context>